# Sort demo

In [1]:
import pandas as pd

In [2]:
cols = ['Vehicle Type','DirectionTime_O','GantryID_O','DirectionTime_D','GantryID_D','Trip Length','Trip End','Trip Information']
data = pd.read_csv('TDCS_M06A_20190830_080000.csv', names = cols)

In [3]:
data.head()

,Vehicle Type,DirectionTime_O,GantryID_O,DirectionTime_D,GantryID_D,Trip Length,Trip End,Trip Information
0,31,2019-08-30 08:17:14,03F3307N,2019-08-30 08:17:14,03F3307N,5.2,Y,2019-08-30 08:17:14+03F3307N
1,31,2019-08-30 08:01:02,03F0648S,2019-08-30 08:01:02,03F0648S,5.6,Y,2019-08-30 08:01:02+03F0648S
2,31,2019-08-30 08:51:45,03F0648N,2019-08-30 08:57:09,03F0559N,13.9,Y,2019-08-30 08:51:45+03F0648N; 2019-08-30 08:57...
3,31,2019-08-30 08:20:45,03F3854S,2019-08-30 08:20:45,03F3854S,8.6,Y,2019-08-30 08:20:45+03F3854S
4,32,2019-08-30 08:06:10,03F4168S,2019-08-30 08:09:33,03F4232S,9.3,Y,2019-08-30 08:06:10+03F4168S; 2019-08-30 08:09...

In [4]:
def my_sort(df, by_col, sort_type):
    """
    Sort function.
    Inputs:
    - df: DataFrame
            the data to sort.
    - by_col: str or list of str
            Sort by column(s).
    - sort_type: str or list of str
            asc: ascending, desc: descending

    Returns: DataFrame
    """
    if sort_type == 'asc':
        return df.sort_values(by_col, ascending= True)
    elif sort_type == 'desc':
        return df.sort_values(by_col, ascending= False)
    return -1

In [5]:
my_sort(data, 'Vehicle Type', 'asc').head()

,Vehicle Type,DirectionTime_O,GantryID_O,DirectionTime_D,GantryID_D,Trip Length,Trip End,Trip Information
82767,5,2019-08-30 08:47:40,01F0182S,2019-08-30 08:56:04,01F0293S,16.3,Y,2019-08-30 08:47:40+01F0182S; 2019-08-30 08:53...
68470,5,2019-08-30 08:46:48,01F0155N,2019-08-30 08:56:06,01F0029N,14.2,Y,2019-08-30 08:46:48+01F0155N; 2019-08-30 08:47...
127946,5,2019-08-30 08:17:24,01F3083S,2019-08-30 08:36:45,01F3126S,11.8,Y,2019-08-30 08:17:24+01F3083S; 2019-08-30 08:36...
237567,5,2019-08-30 08:08:02,03F0006S,2019-08-30 08:08:02,03F0006S,2.4,Y,2019-08-30 08:08:02+03F0006S
237549,5,2019-08-30 08:51:27,03F0136S,2019-08-30 08:51:27,03F0136S,3.6,Y,2019-08-30 08:51:27+03F0136S

In [6]:
def my_search(df, by_col, text):
    """
    Sort function.
    Inputs:
    - df: DataFrame
            the data to search.
    - by_col: str or list of str
            Search by column(s).
    - text: any type
            content to search

    Returns: DataFrame
    """
    return df.loc[df[by_col] == text]

In [7]:
my_search(data, 'Vehicle Type', 31).head()

,Vehicle Type,DirectionTime_O,GantryID_O,DirectionTime_D,GantryID_D,Trip Length,Trip End,Trip Information
0,31,2019-08-30 08:17:14,03F3307N,2019-08-30 08:17:14,03F3307N,5.2,Y,2019-08-30 08:17:14+03F3307N
1,31,2019-08-30 08:01:02,03F0648S,2019-08-30 08:01:02,03F0648S,5.6,Y,2019-08-30 08:01:02+03F0648S
2,31,2019-08-30 08:51:45,03F0648N,2019-08-30 08:57:09,03F0559N,13.9,Y,2019-08-30 08:51:45+03F0648N; 2019-08-30 08:57...
3,31,2019-08-30 08:20:45,03F3854S,2019-08-30 08:20:45,03F3854S,8.6,Y,2019-08-30 08:20:45+03F3854S
5,31,2019-08-30 08:52:35,03F4168S,2019-08-30 08:58:14,03F4263S,15.3,Y,2019-08-30 08:52:35+03F4168S; 2019-08-30 08:56...